<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        ready() {
            console.log('Component ready.') 
            alert('categories');       
              this.$http.post('/categories').then((response) => {
                console.log(response.body);
              }, (response) => {
                // error callback
              });
        },
      
    }
</script>
