
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Bulma framework
@import 'bulma/overrides';
@import 'node_modules/bulma/bulma';
// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap
@import "node_modules/font-awesome/scss/font-awesome";

// Navigation menu components
@import "components/navigation_menu.scss";

// Welcome page components
@import "components/welcome_page.scss";


html, body {
	// background: transparent url('/images/wallpaper.jpg') ;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

 
/* Home Page */
.picture_profile{
	display:inline;
	height:5em;
	width:5em;
	margin-right: 10px;
	padding-top:2px;
}

.game_profile{
	padding-top:2px;
	padding-bottom: 2px;
	margin-left:auto;
}

.user_gems{
	color: green;
	display:inline;
}
